html {
    cursor: url(https://planoart.s3.amazonaws.com/Asset.cur) 43 43, auto !important;
}

body {
    background-color: #fffafa;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

    cursor: url(https://planoart.s3.amazonaws.com/Asset.cur) 43 43, auto !important;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    font-weight: bold;
    font-size: 1.2vw;
}

.menu-desktop {
    position: fixed;
    top: 0;
    font-weight: bold;
    font-size: 50px;
    width: auto;

    z-index: 1000;
}

.menu-item-sobre svg {
    margin-left: -5px;
    width: 35px;
}

.menu-item-sobre:hover {
    color: #ff0000;
    background: #ff0000;
}

.menu-item-sobre:hover svg {
    fill: #ff0000;
}

.menu-item-logo {
    position: fixed;
    top: 20px;
    left: 400px;
}

.menu-lado-direto {
    top: 0;
    position: fixed;
    right: 0;
    text-align: right;
}

.menu-lado-direto span:hover {
    color: #ff0000;
    background: #ff0000;
}

/* Animação de rotação */
@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Posição inicial */
    }

    to {
        transform: rotate(360deg);
        /* Completa uma rotação */
    }
}

.logo {
    width: 200px;

    -webkit-animation: rotate 8s linear infinite;
    -moz-animation: rotate 8s linear infinite;
    animation: rotate 8s linear infinite;
}

.logo-mobile {
    -webkit-animation: rotate 8s linear infinite;
    -moz-animation: rotate 8s linear infinite;
    animation: rotate 8s linear infinite;
}

.pictograma {
    width: 80px;
    position: absolute;
    top: 70px;
    left: 60px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.menu-mobile {
    display: none;
}

.menu-mobile-ul {
    display: none;
}

.galeria-1 {
    margin-top: 250px;
}

.galeria {
    overflow-x: hidden;
}

.capas-de-albuns {
    font-size: 11vw;
    color: #e6e6e6;
    white-space: nowrap;
    margin-left: -2vw;
}

.colagens {
    font-size: 18vw;
    color: #e6e6e6;
    white-space: nowrap;
    margin-left: -2vw;    
}

.acomerciais {
    font-size: 13.5vw;
    color: #e6e6e6;
    white-space: nowrap;
    margin-left: -2vw;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container figure {
    position: absolute;
}

.container-capa-de-albuns {
    margin-top: -4vw;
    height: 350vw;
}

.container-colagens {
    height: 85vw;
}

.container-comerciais {
    height: 185vw;
}

.item-1 {
    width: 20%;
    left: 10%;
    transform: rotate(-1deg);
}

.item-2 {
    width: 30%;
    left: 65%;
    top: 5vw;
    transform: rotate(2deg);
}

.item-3 {
    width: 29%;
    left: 32%;
    top: 20vw;
    transform: rotate(1.5deg);
}

.item-4 {
    width: 33%;
    left: 2%;
    top: 50vw;
    transform: rotate(-1.3deg);
}

.item-5 {
    width: 31%;
    left: 50%;
    top: 65vw;
    transform: rotate(-2.3deg);
}

.item-6 {
    width: 27%;
    left: 70%;
    top: 85vw;
    transform: rotate(10deg);
}

.item-7 {
    width: 32%;
    left: 10%;
    top: 105vw;
    transform: rotate(1.7deg);
}

.item-8 {
    width: 28%;
    left: 60%;
    top: 125vw;
    transform: rotate(1.1deg);
}

.item-3-3 {
    width: 30%;
    left: 30%;
    top: 145vw;
    z-index: 100;
    transform: rotate(-1.2deg);
}

.item-10 {
    width: 35%;
    left: 5%;
    top: 165vw;
    transform: rotate(-10deg);
}

.item-11 {
    width: 30%;
    left: 60%;
    top: 185vw;
    transform: rotate(2deg);
}

.item-9 {
    width: 27%;
    left: 20%;
    top: 215vw;
    transform: rotate(-1.5deg);
}

.item-12 {
    width: 30%;
    left: 70%;
    top: 235vw;
}

.item-13 {
    width: 25%;
    left: 40%;
    top: 255vw;
}

.item-14 {
    width: 35%;
    left: 2%;
    top: 285vw;
    transform: rotate(1.8deg);
}

.item-smile {
    width: 15%;
    left: 10%;
    top: 257vw;
    transform: rotate(-1.5deg);
}

.item-15 {
    width: 35%;
    left: 55%;
    top: 300vw;
    transform: rotate(1.2deg);
}

.item-18 {
    width: 37%;
    left: 20%;
    top: 1vw;
    transform: rotate(-1.3deg);
}

.item-16 {
    width: 40%;
    left: 60%;
    top: 20vw;
    transform: rotate(1.2deg);
}

.item-17 {
    width: 32%;
    left: 5%;
    top: 50vw;
    transform: rotate(-1.7deg);
}

.item-26 {
    width: 50%;
    left: 48%;
}

.item-19 {
    width: 35%;
    left: 5%;
    top: 10vw;
    transform: rotate(1.7deg);
}

.item-27 {
    width: 35%;
    left: 1%;
    top: 40vw;
    transform: rotate(-1.2deg);
}

.item-29 {
    width: 35%;
    left: 68%;
    top: 70vw;
    transform: rotate(1.5deg);
}

.item-28 {
    width: 45%;
    left: 5%;
    top: 90vw;
}

.item-23 {
    width: 35%;
    left: 50%;
    top: 120vw;
    transform: rotate(-1.1deg);
}

.item-3-3-3 {
    width: 21%;
    left: 42%;
    top: 60vw;
}

.item-24 {
    width: 35%;
    left: 1%;
    top: 130vw;
    transform: rotate(1.3deg);
}

.planoartistico {
    font-size: 11.2vw;
    white-space: nowrap;
}

.footer-desktop {
    position: fixed;
    bottom: -1.5vw;
    width: 100%;
    text-align: center;

    font-size: 0.6vw;
}

.footer-mobile {
    display: none;
}

/* Dispositivos pequenos */
@media (max-width: 670px) {
    .galeria-1 {
        margin-top: 50px;
    }

    .menu-mobile {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 3vh;

        display: inline;
        position: fixed;
        right: 0;
        top: 0;
        width: 120px;
        height: 100vh;
        z-index: 1000;
    }

    .menu-mobile ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        box-sizing: border-box;
        
        z-index: 1000;
    }

    .menu-mobile li {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        transition: transform 0.3s;
        white-space: nowrap;
    }

    .menu-mobile-item-sobre {
        width: 40px;
    }

    .menu-mobile-item-logo {
        width: 90px;
    }

    .seta {
        transform: rotate(130deg);
    }

    .menu-mobile-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
    }

    .ul-menu-mobile {
        display: flex;
        flex-direction: row;
    }

    .menu-desktop {
        display: none;
    }

    .footer-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        width: 95vw;
        text-align: center;

        font-size: 1.5vw;
    }

    .footer-desktop {
        display: none;
    }
}

/* Dispositivos médios (tablets em modo retrato) */
@media (max-width: 768px) {
    .menu-item-logo {
        top: 50px;
        margin-left: -60px;
    }
}

/* Dispositivos grandes (tablets em modo paisagem ou laptops pequenos) */
@media (max-width: 992px) {
    .menu-item-logo {
        left: 200px;
    }
}